.home-main{
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.post-wrapper{
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}