.profile-bg-container{
  width: 100%;
  height: 100vh;
  padding-bottom: 20px;
  color: white;
  overflow-y: auto;
}

.profile-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-container div{
  width: 50%;
  padding: 1rem;
}

.profile-img-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-img-container img{
  width: 100px;
  height: 100px;
  background-color: grey;
  border-radius: 50%;
}

.profile-info-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

.profile-info-container h1{
  font-size: 1rem;
  font-weight: bold;
}

.profile-container .followers-container {
  width: 100%;
  padding: 0px;
}

.profile-info-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
}

.profile-info-button button{
  width: 50%;
}

.profile-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row */
  gap: 8px;
  max-width: 100%;
  margin: 0 auto;
  padding: 8px 8px 100px 8px;
}

/* optional: slightly bigger cards on tablets */
@media (min-width: 640px) {
  .profile-posts {
    max-width: 80%;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* desktop */
@media (min-width: 1024px) {
  .profile-posts {
    max-width: 80%;
    grid-template-columns: repeat(5, 1fr);
  }
}

