/* HEADER SECTION */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px 0px 20px 10px;
  width: 100%;
}

.header-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: gray;
}

.post-image-container {
  width: 100%;
  overflow: hidden;
}

.post-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  background-color: gray;
}


.like-comment-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0px 0px 0px 10px;
}

.like-comment-container span {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.description-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  padding: 0px 10px 10px 10px;
  word-break: break-all;
}

.description-container span{
  color: blue;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}


.profile-edit-bg{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
}

.profile-edit-container{
  text-align: center;
  overflow: hidden;
}

.profile-edit-container p{
  padding: 10px;
  border-bottom: 1px solid gray;
  font-size: 0.8rem;
  cursor: pointer;
}

.Skill_MD{
  display: none;
}

@media (min-width: 768px) {
  .Skill_MD{
    display: block;
  }
}