.auth-bg-container{
    height: 100vh;
    width: 100%;
    background-color: #d9acac;
    display: flex;
    justify-content: center;
    align-items: center;
}


.auth-content-card{
    min-height: 350px;
    max-height: 650px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: max-height 0.3s ease-in-out;
}


.auth-heading{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}


.auth-form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.auth-form-field label{
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}


.auth-form-field input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}


.auth-form-field input:focus{
    border-color: #007BFF;
    outline: none;
}


.auth-form-field p{
    font-size: 0.8rem;
    color: red;
}


.auth-form-button-field{
    text-align: center;
    margin-bottom: 10px;
}


.auth-form-button-field button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}


.auth-form-button-field button:hover{
    background-color: #0056b3;
}


.auth-form-button-field .auth-loading{
    background-color: #5b7898;
}


.auth-form-button-field .auth-loading:hover{
    background-color: #5b7898;
}


.auth-signup-link-field{
    text-align: center;
    margin-top: 10px;
}


.auth-signup-link-field span{
    color: #007BFF;
    text-decoration: none;
    margin-left: 5px;
    cursor: pointer;
}


.auth-signup-link-field span:hover{
    text-decoration: underline;
}