.auth-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  width: 100%;
  min-height: 100vh;
}

.auth-form-container {
  min-width: 100px;
  width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header {
  font-size: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5rem;
}

.input-placeholder {
  position: absolute;
  font-size: 1rem;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-60%);
  margin-bottom: 0.5rem;
}

.input-placeholder-active{
  position: absolute;
  font-size: 10px;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-20px);
}

/* transform ${form.email? 'translate-y-[5px]' : 'translate-y-[0px]' */
input {
  width: 100%;
  outline: none;
  background-color: transparent;
  transform: translateY(0px)
}

.input-acitve{
  width: 100%;
  outline: none;
  background-color: transparent;
  transform: translateY(50px);
}

button{
  width: 100%;
  padding: 0.3rem;
  border-radius: 10px;
}

