.comments-bg-container{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 100;
}

.post-metadata, .media-image{
  display: none;
}

.description-text{
  word-break: normal;
  overflow-wrap: break-word;
}

.comment-text {
  word-break: normal;
  overflow-wrap: break-word;
}


@media (min-width:768px) {
  .comments-bg-container{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 50;
  }

  .post-metadata, .media-image{
    display: block;
  }
}